org.talend.model/model/Component.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="component" ecore:package="org.talend.designer.core.model.utils.emf.component">
  <xsd:element name="ADVANCED_PARAMETERS" type="ADVANCED_PARAMETERS_._type"/>
  <xsd:element name="CODEGENERATION" type="CODEGENERATION_._type"/>
  <xsd:element name="COMPONENT" type="COMPONENT_._type"/>
  <xsd:element name="CONNECTORS" type="CONNECTORS_._type"/>
  <xsd:element name="DOCUMENTATION" type="DOCUMENTATION_._type"/>
  <xsd:element name="FAMILIES" type="FAMILIES_._type"/>
  <xsd:element name="HEADER" type="HEADER_._type"/>
  <xsd:element name="ITEMS" type="ITEMS_._type"/>
  <xsd:element name="PARAMETER" type="PARAMETER_._type"/>
  <xsd:element name="PARAMETERS" type="PARAMETERS_._type"/>
  <xsd:element name="PLUGINDEPENDENCIES" type="PLUGINDEPENDENCIES_._type"/>
  <xsd:element name="RETURNS" type="RETURNS_._type"/>
  <xsd:element name="SQLTEMPLATES" type="SQLTEMPLATES_._type"/>
  <xsd:complexType ecore:name="ADVANCEDPARAMETERSType" name="ADVANCED_PARAMETERS_._type">
    <xsd:sequence>
      <xsd:element ecore:name="pARAMETER" maxOccurs="unbounded" minOccurs="0" ref="PARAMETER"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ARGType" name="ARG_._type">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="CODEGENERATIONType" name="CODEGENERATION_._type">
    <xsd:sequence>
      <xsd:element ecore:name="tEMPLATES" maxOccurs="unbounded" minOccurs="0" name="TEMPLATES" type="TEMPLATES_._type">
        <xsd:annotation>
          <xsd:documentation>Used only for virtual components</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ecore:name="iMPORTS" minOccurs="0" name="IMPORTS" type="IMPORTS_._type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="COLUMNType" name="COLUMN_._type">
    <xsd:attribute ecore:name="cOMMENT" name="COMMENT" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="cUSTOM" name="CUSTOM" type="xsd:boolean"/>
    <xsd:attribute ecore:name="dEFAULT" name="DEFAULT" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="kEY" name="KEY" type="xsd:boolean"/>
    <xsd:attribute ecore:name="lENGTH" name="LENGTH" type="xsd:int"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string"/>
    <xsd:attribute default="true" ecore:name="nULLABLE" name="NULLABLE" type="xsd:boolean"/>
    <xsd:attribute ecore:name="pATTERN" name="PATTERN" type="xsd:string"/>
    <xsd:attribute default="0" ecore:name="pRECISION" name="PRECISION" type="xsd:int"/>
    <xsd:attribute ecore:name="rEADONLY" name="READONLY" type="xsd:boolean"/>
    <xsd:attribute ecore:name="tYPE" name="TYPE" type="xsd:string"/>
    <xsd:attribute ecore:name="rELATEDENTITY" name="RELATEDENTITY" type="xsd:string"/>
    <xsd:attribute ecore:name="rELATIONSHIPTYPE" name="RELATIONSHIPTYPE" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="COMPONENTType" name="COMPONENT_._type">
    <xsd:sequence>
      <xsd:element ecore:name="hEADER" ref="HEADER"/>
      <xsd:element ecore:name="fAMILIES" ref="FAMILIES"/>
      <xsd:element ecore:name="dOCUMENTATION" ref="DOCUMENTATION"/>
      <xsd:element ecore:name="cONNECTORS" ref="CONNECTORS"/>
      <xsd:element ecore:name="sQLTEMPLATES" minOccurs="0" ref="SQLTEMPLATES"/>
      <xsd:element ecore:name="pARAMETERS" ref="PARAMETERS"/>
      <xsd:element ecore:name="aDVANCEDPARAMETERS" minOccurs="0" ref="ADVANCED_PARAMETERS"/>
      <xsd:element ecore:name="cODEGENERATION" ref="CODEGENERATION"/>
      <xsd:element ecore:name="rETURNS" ref="RETURNS"/>
      <xsd:element ecore:name="pLUGINDEPENDENCIES" minOccurs="0" ref="PLUGINDEPENDENCIES"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CONNECTORSType" name="CONNECTORS_._type">
    <xsd:sequence>
      <xsd:element ecore:name="cONNECTOR" maxOccurs="unbounded" name="CONNECTOR" type="CONNECTOR_._type">
        <xsd:annotation>
          <xsd:documentation>BUILTIN can only be used when CTYPE = 'FLOW'</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CONNECTORType" name="CONNECTOR_._type">
    <xsd:attribute ecore:name="bASESCHEMA" name="BASE_SCHEMA" type="xsd:string"/>
    <xsd:attribute ecore:name="bUILTIN" name="BUILTIN" type="xsd:boolean"/>
    <xsd:attribute ecore:name="cOLOR" name="COLOR" type="xsd:string"/>
    <xsd:attribute ecore:name="cOMPONENT" name="COMPONENT" type="xsd:string"/>
    <xsd:attribute ecore:name="cTYPE" name="CTYPE" type="xsd:string" use="required"/>
    <xsd:attribute default="false" ecore:name="iNPUTLINKSELECTION" name="INPUT_LINK_SELECTION" type="xsd:boolean"/>
    <xsd:attribute ecore:name="lINESTYLE" name="LINE_STYLE" type="xsd:int"/>
    <xsd:attribute ecore:name="mAXINPUT" name="MAX_INPUT" type="xsd:int"/>
    <xsd:attribute ecore:name="mAXOUTPUT" name="MAX_OUTPUT" type="xsd:int"/>
    <xsd:attribute ecore:name="mERGEALLOWDIFFERENTSCHEMA" name="MERGE_ALLOW_DIFFERENT_SCHEMA" type="xsd:boolean"/>
    <xsd:attribute ecore:name="mININPUT" name="MIN_INPUT" type="xsd:int"/>
    <xsd:attribute ecore:name="mINOUTPUT" name="MIN_OUTPUT" type="xsd:int"/>
    <xsd:attribute ecore:name="mULTISCHEMA" name="MULTI_SCHEMA" type="xsd:boolean"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string"/>
    <xsd:attribute ecore:name="nOTSHOWIF" name="NOT_SHOW_IF" type="xsd:string"/>
    <xsd:attribute ecore:name="sHOWIF" name="SHOW_IF" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="DEFAULTType" name="DEFAULT_._type">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute ecore:name="iF" name="IF" type="xsd:string"/>
        <xsd:attribute ecore:name="nOTIF" name="NOT_IF" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="DOCUMENTATIONType" name="DOCUMENTATION_._type">
    <xsd:sequence>
      <xsd:element ecore:name="uRL" name="URL" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="FAMILIESType" name="FAMILIES_._type">
    <xsd:sequence>
      <xsd:element ecore:name="fAMILY" maxOccurs="unbounded" name="FAMILY" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="FORMATType" name="FORMAT_._type">
    <xsd:attribute ecore:name="cONNECTION" name="CONNECTION" type="xsd:string"/>
    <xsd:attribute ecore:name="hINT" name="HINT" type="xsd:string"/>
    <xsd:attribute ecore:name="lABEL" name="LABEL" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="HEADERType" name="HEADER_._type">
    <xsd:sequence>
      <xsd:element ecore:name="sIGNATURE" name="SIGNATURE" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
							Not used for the moment
						</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ecore:name="fORMAT" minOccurs="0" name="FORMAT" type="FORMAT_._type"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="aUTHOR" name="AUTHOR" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="cOMPATIBILITY" name="COMPATIBILITY" type="xsd:string" use="required"/>
    <xsd:attribute default="true" ecore:name="dATAAUTOPROPAGATE" name="DATA_AUTO_PROPAGATE" type="xsd:boolean"/>
    <xsd:attribute ecore:name="eXTENSION" name="EXTENSION" type="xsd:string"/>
    <xsd:attribute ecore:name="hASCONDITIONALOUTPUTS" name="HAS_CONDITIONAL_OUTPUTS" type="xsd:boolean"/>
    <xsd:attribute default="false" ecore:name="hASHCOMPONENT" name="HASH_COMPONENT" type="xsd:boolean"/>
    <xsd:attribute ecore:name="iSMULTIPLYINGOUTPUTS" name="IS_MULTIPLYING_OUTPUTS" type="xsd:boolean"/>
    <xsd:attribute default="true" ecore:name="mAINCODECALLED" name="MAIN_CODE_CALLED" type="xsd:boolean"/>
    <xsd:attribute default="2" ecore:name="nUMBERPARALLELIZE" name="NUMBER_PARALLELIZE" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="pARALLELIZE" name="PARALLELIZE" type="xsd:boolean"/>
    <xsd:attribute ecore:name="pLATEFORM" name="PLATEFORM" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="rELEASEDATE" name="RELEASE_DATE" type="xsd:string" use="required"/>
    <xsd:attribute default="true" ecore:name="sCHEMAAUTOPROPAGATE" name="SCHEMA_AUTO_PROPAGATE" type="xsd:boolean"/>
    <xsd:attribute ecore:name="sERIAL" name="SERIAL" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="sHORTNAME" name="SHORTNAME" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="sINGLETON" name="SINGLETON" type="xsd:boolean"/>
    <xsd:attribute ecore:name="sTARTABLE" name="STARTABLE" type="xsd:boolean" use="required"/>
    <xsd:attribute ecore:name="sTATUS" name="STATUS" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="sUBJOBCOLOR" name="SUBJOB_COLOR" type="xsd:string"/>
    <xsd:attribute ecore:name="sUBJOBTITLECOLOR" name="SUBJOB_TITLE_COLOR" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="tECHNICAL" name="TECHNICAL" type="xsd:boolean"/>
    <xsd:attribute default="false" ecore:name="tSTATCATCHERSTATS" name="TSTATCATCHER_STATS" type="xsd:boolean"/>
    <xsd:attribute ecore:name="vERSION" name="VERSION" type="xsd:decimal" use="required"/>
    <xsd:attribute default="true" ecore:name="vISIBLE" name="VISIBLE" type="xsd:boolean"/>
    <xsd:attribute ecore:name="cOMBINE" name="COMBINE" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="IMPORTSType" name="IMPORTS_._type">
    <xsd:sequence>
      <xsd:element ecore:name="iMPORT" maxOccurs="unbounded" name="IMPORT" type="IMPORT_._type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IMPORTType" name="IMPORT_._type">
  	<xsd:sequence>
  		<xsd:element ecore:name="iNSTALL" maxOccurs="unbounded"
  			minOccurs="0" name="INSTALL" type="INSTALL_._type" />
  		<xsd:element ecore:name="uRL" maxOccurs="unbounded"
  			minOccurs="0" name="URL" nillable="true" type="xsd:string" />
  	</xsd:sequence>
  	<xsd:attribute ecore:name="mESSAGE" name="MESSAGE"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="mODULE" name="MODULE"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string" />
  	<xsd:attribute ecore:name="rEQUIRED" name="REQUIRED"
  		type="xsd:boolean" />
  	<xsd:attribute default="true" ecore:name="sHOW" name="SHOW"
  		type="xsd:boolean" />
  	<xsd:attribute ecore:name="urlPath" name="UrlPath"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="bundleID" name="BundleID" 
  		type="xsd:string" />
  	<xsd:attribute ecore:name="rEQUIREDIF" name="REQUIRED_IF" 
  		type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType ecore:name="INSTALLType" name="INSTALL_._type">
    <xsd:sequence>
      <xsd:element ecore:name="cOMMAND" name="COMMAND" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="oS" name="OS" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="ITEMSType" name="ITEMS_._type">
    <xsd:sequence>
      <xsd:element ecore:name="iTEM" maxOccurs="unbounded" minOccurs="0" name="ITEM" type="ITEM_._type">
        <xsd:annotation>
          <xsd:documentation>
							On TABLE mode: - FIELD can be either TEXT,
							CHECK, CLOSED_LIST, COLUMN_LIST or
							PREV_COLUMN_LIST - VALUE is used for TEXT,
							CHECK

							On CLOSED_LIST mode: - FIELD is not used -
							READONLY is not used
						</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute default="false" ecore:name="bASEDONINPUTSCHEMAS" name="BASED_ON_INPUT_SCHEMAS" type="xsd:boolean"/>
    <xsd:attribute default="false" ecore:name="bASEDONSCHEMA" name="BASED_ON_SCHEMA" type="xsd:boolean"/>
    <xsd:attribute default="false" ecore:name="bASEDONSUBJOBSTARTS" name="BASED_ON_SUBJOB_STARTS" type="xsd:boolean"/>
    <xsd:attribute default="false" ecore:name="cOLUMNSBASEDONSCHEMA" name="COLUMNS_BASED_ON_SCHEMA" type="xsd:boolean"/>
    <xsd:attribute ecore:name="dEFAULT" name="DEFAULT" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="ITEMType" name="ITEM_._type">
    <xsd:sequence>
      <xsd:element ecore:name="iTEMS" minOccurs="0" ref="ITEMS">
        <xsd:annotation>
          <xsd:documentation>
										Used for combo box in TABLE
										field
									</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute ecore:name="cONTEXT" name="CONTEXT" type="xsd:string"/>
    <xsd:attribute ecore:name="dISPLAYNAMEASVALUE" name="DISPLAY_NAME_AS_VALUE" type="xsd:boolean"/>
    <xsd:attribute default="TEXT" ecore:name="fIELD" name="FIELD" type="xsd:string"/>
    <xsd:attribute ecore:name="fILTER" name="FILTER" type="xsd:string"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="nOCONTEXTASSIST" name="NO_CONTEXT_ASSIST" type="xsd:boolean"/>
    <xsd:attribute ecore:name="nOTREADONLYIF" name="NOT_READONLY_IF" type="xsd:string"/>
    <xsd:attribute ecore:name="nOTSHOWIF" name="NOT_SHOW_IF" type="xsd:string"/>
    <xsd:attribute ecore:name="rEADONLY" name="READONLY" type="xsd:boolean"/>
    <xsd:attribute ecore:name="rEADONLYIF" name="READONLY_IF" type="xsd:string"/>
    <xsd:attribute ecore:name="rEPOSITORYITEM" name="REPOSITORY_ITEM" type="xsd:string"/>
    <xsd:attribute ecore:name="sHOWIF" name="SHOW_IF" type="xsd:string"/>
    <xsd:attribute ecore:name="vALUE" name="VALUE" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="JAVACOMMANDType" name="JAVACOMMAND_._type">
    <xsd:sequence>
      <xsd:element ecore:name="aRG" maxOccurs="unbounded" minOccurs="0" name="ARG" type="ARG_._type"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="cLASS" name="CLASS" type="xsd:string"/>
    <xsd:attribute ecore:name="fUNCTION" name="FUNCTION" type="xsd:string"/>
    <xsd:attribute ecore:name="jAR" name="JAR" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="LINKTOType" name="LINK_TO_._type">
    <xsd:attribute ecore:name="cTYPE" name="CTYPE" type="xsd:string"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="PARAMETERSType" name="PARAMETERS_._type">
    <xsd:sequence>
      <xsd:element ecore:name="pARAMETER" maxOccurs="unbounded" minOccurs="0" ref="PARAMETER"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PARAMETERType" name="PARAMETER_._type">
  	<xsd:sequence>
  		<xsd:element ecore:name="dEFAULT" maxOccurs="unbounded"
  			minOccurs="0" name="DEFAULT" type="DEFAULT_._type">
  			<xsd:annotation>
  				<xsd:documentation>
  					Used for TEXT or CHECK field
  				</xsd:documentation>
  			</xsd:annotation>
  		</xsd:element>
  		<xsd:element ecore:name="iTEMS" minOccurs="0" ref="ITEMS">
  			<xsd:annotation>
  				<xsd:documentation>
  					Used for CLOSED_LIST or TABLE field
  				</xsd:documentation>
  			</xsd:annotation>
  		</xsd:element>
  		<xsd:element ecore:name="tABLE" maxOccurs="unbounded"
  			minOccurs="0" name="TABLE" type="TABLE_._type">
  			<xsd:annotation>
  				<xsd:documentation>
  					Used only for SCHEMA_TYPE field
  				</xsd:documentation>
  			</xsd:annotation>
  		</xsd:element>
  		<xsd:element ecore:name="jAVACOMMAND" minOccurs="0"
  			name="JAVACOMMAND" type="JAVACOMMAND_._type">
  			<xsd:annotation>
  				<xsd:documentation>
  					This will run an external java code in a given
  					jar.
  				</xsd:documentation>
  			</xsd:annotation>
  		</xsd:element>
  	</xsd:sequence>
  	<xsd:attribute ecore:name="bACKGROUND" name="BACKGROUND"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="cOLOR" name="COLOR" type="xsd:string" />
  	<xsd:attribute ecore:name="cONTEXT" name="CONTEXT"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="cONTEXTMODE" name="CONTEXT_MODE"
  		type="xsd:boolean" />
  	<xsd:attribute ecore:name="dYNAMICSETTINGS"
  		name="DYNAMIC_SETTINGS" type="xsd:boolean" />
  	<xsd:attribute ecore:name="fIELD" name="FIELD" type="xsd:string"
  		use="required" />
  	<xsd:attribute ecore:name="fILTER" name="FILTER"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="gROUP" name="GROUP" type="xsd:string" />
  	<xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string"
  		use="required" />
  	<xsd:attribute default="3" ecore:name="nBLINES" name="NB_LINES"
  		type="xsd:int" />
  	<xsd:attribute ecore:name="nOCONTEXTASSIST"
  		name="NO_CONTEXT_ASSIST" type="xsd:boolean" />
  	<xsd:attribute ecore:name="nOTREADONLYIF" name="NOT_READONLY_IF"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="nOTSHOWIF" name="NOT_SHOW_IF"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="nUMROW" name="NUM_ROW" type="xsd:int"
  		use="required" />
  	<xsd:attribute default="false" ecore:name="rEADONLY"
  		name="READONLY" type="xsd:boolean" />
  	<xsd:attribute ecore:name="rEADONLYIF" name="READONLY_IF"
  		type="xsd:string" />
  	<xsd:attribute ecore:name="rEPOSITORYVALUE"
  		name="REPOSITORY_VALUE" type="xsd:string" />
  	<xsd:attribute default="false" ecore:name="rEQUIRED"
  		name="REQUIRED" type="xsd:boolean" />
  	<xsd:attribute default="true" ecore:name="sHOW" name="SHOW"
  		type="xsd:boolean" />
  	<xsd:attribute ecore:name="sHOWIF" name="SHOW_IF"
  		type="xsd:string" />
  	<xsd:attribute name="MAX_LENGTH" type="xsd:int"></xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="PLUGINDEPENDENCIESType" name="PLUGINDEPENDENCIES_._type">
    <xsd:sequence>
      <xsd:element ecore:name="pLUGINDEPENDENCY" maxOccurs="unbounded" minOccurs="0" name="PLUGINDEPENDENCY" type="PLUGINDEPENDENCY_._type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PLUGINDEPENDENCYType" name="PLUGINDEPENDENCY_._type">
    <xsd:attribute ecore:name="iD" name="ID" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="RETURNSType" name="RETURNS_._type">
    <xsd:sequence>
      <xsd:element ecore:name="rETURN" maxOccurs="unbounded" minOccurs="0" name="RETURN" type="RETURN_._type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RETURNType" name="RETURN_._type">
    <xsd:attribute ecore:name="aVAILABILITY" name="AVAILABILITY" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="tYPE" name="TYPE" type="xsd:string" use="required"/>
     <xsd:attribute ecore:name="sHOWIF" name="SHOW_IF" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="SQLTEMPLATESType" name="SQLTEMPLATES_._type">
    <xsd:sequence>
      <xsd:element ecore:name="sQLTEMPLATE" maxOccurs="unbounded" minOccurs="0" name="SQLTEMPLATE" type="SQLTEMPLATE_._type"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="dB" name="DB" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="SQLTEMPLATEType" name="SQLTEMPLATE_._type">
    <xsd:attribute ecore:name="cONTENT" name="CONTENT" type="xsd:string"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="TABLEType" name="TABLE_._type">
    <xsd:sequence>
      <xsd:element ecore:name="cOLUMN" maxOccurs="unbounded" minOccurs="0" name="COLUMN" type="COLUMN_._type"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="iF" name="IF" type="xsd:string"/>
    <xsd:attribute ecore:name="nOTIF" name="NOT_IF" type="xsd:string"/>
    <xsd:attribute ecore:name="rEADONLYCOLUMNPOSITION" name="READ_ONLY_COLUMN_POSITION" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="rEADONLY" name="READONLY" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="TEMPLATEPARAMType" name="TEMPLATE_PARAM_._type">
    <xsd:attribute ecore:name="sOURCE" name="SOURCE" type="xsd:string"/>
    <xsd:attribute ecore:name="tARGET" name="TARGET" type="xsd:string"/>
    <xsd:attribute ecore:name="vALUE" name="VALUE" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="TEMPLATESType" name="TEMPLATES_._type">
    <xsd:sequence>
      <xsd:element ecore:name="tEMPLATE" maxOccurs="unbounded" minOccurs="0" name="TEMPLATE" type="TEMPLATE_._type"/>
      <xsd:element ecore:name="tEMPLATEPARAM" maxOccurs="unbounded" minOccurs="0" name="TEMPLATE_PARAM" type="TEMPLATE_PARAM_._type"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="cONNECTOR" name="CONNECTOR" type="xsd:string"/>
    <xsd:attribute ecore:name="iNPUT" name="INPUT" type="xsd:string"/>
    <xsd:attribute default="false" ecore:name="lOOKUP" name="LOOKUP" type="xsd:boolean"/>
    <xsd:attribute ecore:name="oUTPUT" name="OUTPUT" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="TEMPLATEType" name="TEMPLATE_._type">
    <xsd:sequence>
      <xsd:element ecore:name="lINKTO" maxOccurs="unbounded" minOccurs="0" name="LINK_TO" type="LINK_TO_._type"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="cOMPONENT" name="COMPONENT" type="xsd:string"/>
    <xsd:attribute ecore:name="nAME" name="NAME" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
