org.talend.core.runtime/mappings_old/mapping_validate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="type">
		<xs:complexType>
			<xs:attribute name="talendType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
            <xs:attribute name="default" type="xs:boolean"/>
            <xs:attribute name="dbType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="dbms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="type"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="java"/>
						<xs:enumeration value="perl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="db_types"/>
				<xs:element maxOccurs="unbounded" ref="language"/>
			</xs:sequence>
			<xs:attribute name="product" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="default" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="db_types">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
